[2018-08-05 07:17] raghavsi opened #1 "Graph Tensorflow"
I was wrong in using the word dynamic for TF graph: I meant distributed more than "dynamic"

This stackoverflow gives a good overview of dynamic graphs:
https://ai.stackexchange.com/questions/3801/what-is-a-dynamic-computational-graph

[2018-08-17 01:06] raghavsi opened #2 "Regularization"
A very nice simple example.

https://www.analyticsvidhya.com/blog/2016/01/complete-tutorial-ridge-lasso-regression-python/

Please read before class

[2018-08-19 07:33] abhudev opened #3 "Error in Tensorflow 1.9 installation on HPC"
I installed Tensorflow on HPC but ran into a problem while importing it, the error seems to be related to GLIBC version. Since we are supposed to use v1.9 in this course, it will be problematic if we are not able to install and use it on HPC.

Full error message:

Traceback (most recent call last):
  File "/home/cse/btech/cs1150424/anaconda3/envs/tf/lib/python3.6/site-packages/tensorflow/python/py

[2018-08-20 11:59] Maxaravind commented on #3
It seems to be a cuda driver version miss match. Can you tell me how you installed tensorflow on hpc? Did you do it in a anaconda virtual env?

[2018-08-20 14:18] abhudev commented on #3
I followed the instructions given by Vineet sir in the lecture 1 folder and did it in anaconda virtual env using pip. The CUDA version on HPC is 8, how do I get around this?

[2018-08-20 14:55] Maxaravind commented on #3
Unfortunately Tensorflow version 1.9 requires cuda 9(see: https://www.tensorflow.org/install/install_sources#tested_source_configurations). As of now i am unaware of any way to install a different cuda driver in hpc since they don't provide us root access. What you can do is use the default tensorflow version provided  in the hpc and do your experiments(try: module load apps/tensorflow/1.5.0/gpu i

[2018-08-23 07:55] Maxaravind commented on #3
You can try with 9.2, people have done that. You can try something along these lines: https://hk.saowen.com/a/a9cc5b7c90a6f350850d8554c018f7415981fc8d470b481c90afd7573f5e12cd

[2018-08-23 17:41] vineetm commented on #3
@Maxaravind Thanks for finding about 9.2 @abhudev Were you able to do a hello world in tensorflow?

[2018-08-23 18:32] abhudev commented on #3
No Sir, I have not tried it out yet, I will try to do as soon as possible. @Maxaravind  Thank you for the tutorial, I will comment again if I find any problems while trying to install.

[2018-08-29 01:44] raghavsi commented on #1
http://web.stanford.edu/class/cs20si/

[2018-08-30 05:20] raghavsi opened #4 "Assignment 1"
Please read the paper
https://openreview.net/forum?id=Sy8gdB9xx

There are lot of comments on this site and maybe there are blogs re this paper. You can use any available online material. But please do not collaborate.

Think of this as a  ML system (more than DL/CNN) and issues regarding overfitting and generalization.

Prepare 2 page ppt slides (not more than 2, not less than 2) and be prepared

[2018-08-30 10:02] baksh97 commented on #4
Sir, can you please extend the deadline for sending the slides? It will be very difficult for us to complete the reading as well as slides within a day.

[2018-08-30 10:48] raghavsi commented on #4
everyone has the same deadline.. do your best effort in available time.

[2018-09-03 00:15] raghavsi opened #5 "generic links"
https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf
https://shapeofdata.wordpress.com/introduction/

[2018-09-05 09:49] raghavsi opened #6 "Assignment 2"
Scrape pepperfry to create a dataset of these categories:
2-seater-sofa
bench
book-cases
coffee-table
dining-set
queen-beds
arm-chairs
chest-drawers
garden-seating
bean-bags
king-beds

For each category I want students to extract upto 20 items (and not less than 10 items).
For each item download more than one image (each item has multiple images in different pose)
and whatever meta-data is availab

[2018-09-05 12:07] vineetm opened #7 "Python dictionaries and Ordering"
I was pointed today in class that python dictionary maintain order, and that raised the question if [collections.OrderedDict](https://docs.python.org/3/library/collections.html) should be used?

I found that Python 3.6, does indeed maintain order of keys! However, official python documentation points that one [should not rely on it and consider it an implementation detail](https://docs.python.org/

[2018-09-07 10:08] anshumitts opened #8 "issue in generating padded batch with padding_value for a tuple."
[code]
but this is working
`dataset = tf.data.TextLineDataset(sentences_file)
dataset = dataset.map(lambda sentence: tf.string_split([sentence]).values)
# dataset = dataset.map(lambda words:)
dataset = dataset.map(lambda words: (vocab_table.lookup(words),tf.size(words)))
# dataset = dataset.batch(batch_size=32)
dataset = dataset.padded_batch(batch_size=32,padded_shapes=([None],[]),padding_values=t

[2018-09-07 11:17] vineetm commented on #8
@anshumitts Thanks for posting the question. If you are using padding_values, you need to specify a padding value for each element in your dataset. The following would work:

[code]

Note here tf.size returns tf.int32, thus you don't need to convert to tf.int64 for second values.. Hope this helps!

[2018-09-07 11:38] vineetm opened #9 "Bonus tf.data Assignment"
As discussed in class, here is the **bonus** tf.data assignment **Due Date: 14 Sep, 02 PM**

Please email the notebook file(which show cell outputs) to TAs

For each sentence, return a a tuple with two entries
1. words in the sentence
2. characters from the first word in sentence.

This is how sample output should look like for a batch size of 2:
[code]

[2018-09-07 17:56] VarunSrivastavaIITD commented on #6
On trying out the scrapy shell on the homepage 'https://www.pepperfry.com/', i.e. _"scrapy shell https://www.pepperfry.com/ --nolog"_ I get a 403 access denied response.

As suggested both on the [scrapy docs](https://doc.scrapy.org/en/latest/topics/practices.html#avoiding-getting-banned) as well as SO, this is probably due to **anti scraping** measures taken by the site. Can anyone please confirm

[2018-09-08 14:06] VarunSrivastavaIITD opened #10 "Issue in scraping pepperfry"
On trying out the scrapy shell on the homepage 'https://www.pepperfry.com/', i.e. _"scrapy shell https://www.pepperfry.com/ --nolog"_ I get a 403 access denied response.

As suggested both on the [scrapy docs](https://doc.scrapy.org/en/latest/topics/practices.html#avoiding-getting-banned) as well as SO, this is probably due to **anti scraping** measures taken by the site. Can anyone please confirm

[2018-09-08 17:09] ankursharma-iitd commented on #6
@VarunSrivastavaIITD It works for me.
Can someone please elaborate the dataset format and the corresponding file structure?

[2018-09-08 23:27] VarunSrivastavaIITD commented on #6
@ankursharma-iitd  Thanks a lot, it works now.

[2018-09-09 05:03] raghavsi commented on #6
Please reach out to TAs also if you have issues.
PepperFry_data/
    Bench/
        Item1/
            Image1.jpg
            Image2.jpg
            ...
           metadata.txt

metadata can be just text, or it can be <tag: text> if tags are available
If metadata is available or stored in json format, that is also acceptable.
BTW there may be some metadata available for each image, e.g. image1 is

[2018-09-09 12:10] abhudev commented on #6
Do we have to download just two images per object, or as many as are there?

[2018-09-09 14:05] AdityaGupta-IITD commented on #6
@Maxaravind @VinayKyatham could you please tell us the deadline (time and date) for this assignment?

[2018-09-09 18:04] Maxaravind commented on #6
Hi all,

The deadline for submitting the assignment is 11:59 pm 12th September. Please make your submission as a tarball/zip file named as Assignment_2_ELL881_<Entry Number>. Please make the subject of your email as Assignment_2_ELL881.

Thanks

[2018-09-10 05:50] vineetm commented on #10
Addressed in vineetm/ell-881-2018-deep-learning#6

[2018-09-10 05:50] #10 closed

[2018-09-10 06:26] utkarsh1097 commented on #6
Is it mandatory to use scrapy? Can we not use bs4 or maybe selenium?

[2018-09-10 11:01] Maxaravind commented on #6
@utkarsh1097 You are free to choose a tool of your choice. The only restriction is that you should be able to create a python script that can do the task automatically. You are not supposed to use gui based tools for scrapping. You have to submit the python script for collecting data as part of the assignment. So whatever python library is OK. But we highly recommend that you go with scrapy.

[2018-09-10 16:16] Maxaravind commented on #6
@anshumitts

This is the directory structure:-

PepperFry_data/  --Top level directory
Bench/  -- Category
Item1/ --Items
Image1.jpg
Image2.jpg
...
metadata.txt  --one and only one should be present in each item folder

And regarding the submission, we will update you soon.

[2018-09-10 16:58] anshumitts commented on #6
@Maxaravind [here](https://github.com/vineetm/ell-881-2018-deep-learning/issues/6#issuecomment-419874298) it is mentioned we have to submit just one script. and what is expected in metadata.txt. It is not clear [here](https://github.com/vineetm/ell-881-2018-deep-learning/issues/6#issuecomment-419691223)

[2018-09-11 11:04] vineetm commented on #9
@mehak126 I think you would need to convert the characters tensor to a dense tensor. But please do, give .values formulation a try too. There are many correct ways to do one thing in tensorflow!

[2018-09-11 11:19] abhudev commented on #6
@Maxaravind  @VinayKyatham there is an issue in the scrapy image pipeline - it cannot download many of the images in pepperfry.com, giving the following error:

OSError: cannot identify image file <_io.BytesIO object at 0x000001E3E7A94678>

When I request the image URL and try to write the body of the request to image file, the image is not recognized by windows image viewer, but can be viewed by

[2018-09-11 12:11] abhudev commented on #6
Turns out the images are webp images, and the Pillow installed on my system isn't able to read them. An online tool was able to read it as webp, so I am assuming this is not a problem.

[2018-09-13 04:18] vineetm commented on #3
@Maxaravind @VinayKyatham I need your help in making sure Tensorflow 1.9 works with GPU on HPC.
@anshumitts mentioned in class yesterday that he could install tf1.9, and you can try using his virtualenv.

Once you have installed Tensorflow, do some kind of hello world to ensure it is installed. You should also check if tf is able to use GPUs as indicated [here](https://github.com/vineetm/notes/blo

[2018-09-13 08:06] anshumitts commented on #3
Hi,
One small correction I have tensorflow 1.8 not 1.9

On Thu, Sep 13, 2018 at 9:48 AM vineetm <notifications@github.com> wrote:

[2018-09-13 11:11] anshumitts commented on #3
Please do the following steps:

[code]

You should have tensorflow 1.10 now

[2018-09-13 11:17] Maxaravind commented on #3
@vineetm @anshumitts

Tf 1.9.0 is already installed on the hpc, you don't need to install it on your virtual environment separately

Please do:

module load apps/pythonpackages/3.6.0/tensorflow/1.9.0/gpu

That's all you need to do. This is the best way to do it.

[2018-09-13 11:18] abhudev commented on #3
@Maxaravind  I have set up anaconda, do I need to remove it to get this working?

[2018-09-17 05:16] raghavsi opened #11 "Solution for linear regression problem in Minor 1"
This was problem 2.9 in elements of statistical learning book.

Please find attached solution
[HW1_solution.pdf](https://github.com/vineetm/ell-881-2018-deep-learning/files/2387415/HW1_solution.pdf)

[2018-09-19 04:30] vineetm opened #12 "Pre-trained wor2vec Model"
Hi,

Pre-trained wor2vec model is available here https://code.google.com/archive/p/word2vec/
look for the file GoogleNews-vectors-negative300.bin.gz

Google recently released other pre-trained models too on Tensorflow Hub https://www.tensorflow.org/hub/modules/text

[2018-09-19 19:05] utkarsh1097 commented on #12
I have a doubt regarding word2vec.

Can word2vec only be used to compare the closeness of two words (based on the similarity between their meaning) or does it also help us in understanding what a particular word means in a sentence?

For example consider the sentence "I am eating an orange" and "Did you see that orange building?". In one sentence 'orange' is a fruit, while its a color in the other

[2018-09-20 04:02] vineetm commented on #12
@utkarsh1097 Word2Vec, as we train it using skip-gram does not say anything about its meaning in a sentence. Word2Vec learns a good **average** word embedding. Thus for the specific example you mentioned, if the orange fruit appears more often in your training corpora than orange color, the embedding would behave like orange fruit more!

That said there has been lot of work where multiple senses o

[2018-09-24 17:50] anshumitts opened #13 "Project : Dataset and clearity"
Hi, There is a bit confusion,
1. On which dataset should we be training our model?
2. on Task 10.2,10.3 should we re-train the embeddings or else which model should we use to perform the task
3. I am not sure what is this "SICK" in 10.4

[2018-09-25 08:13] vineetm commented on #13
@anshumitts Thanks for your question.

Let me clarify the confusion. The evaluation tasks 10.1-10.4 are **independent** of training your RNN models.

Let us for sake of clarity make a distinction between tasks.
**Training Tasks**: There are three independent training tasks: NLI, Constituency Parsing & NMT on En-De. These are related only by sharing RNN parameters. While training you would only use

[2018-09-25 11:02] anshumitts commented on #13
Hi, @vineetm  Can you please provide dataset for parse tree as no dataset has been provided which was fed to PUCK GPU to get noise dataset and they have updated penntree bank dataset. So I am not sure I am getting the correct parse tree.

[2018-09-25 12:23] raghavsi opened #14 "Assignment 3/Minor 2"
This was given out last Wednesday 19th Sept.
First part was
Take word2vec on color meta data in pepper fry dataset and do tsne visualization (could use raster fairy)
This is due tomorrow 26th Sept.
To submit
a) The TSNE plot
b) The code for TSNE and word2vec
c) Dataset if there are any changes

Second part:
Im2Vec on images of pepperfry data and tsne visualization
To be submitted by Friday 28th Se

[2018-09-25 13:07] ankursharma-iitd commented on #14
Sir,
This is to bring to your kind notice that we have a mid-term exam due tomorrow evening (COL761 - Data Mining), and I agree that you mentioned about this assignment last week in class, but it will be great if you can postpone the deadlines a bit. In such a short amount of time, I don't think we'll be able to complete it in the best way we could have done.
This is a genuine request from some of

[2018-09-25 13:09] navreeetkaur commented on #14
+1

[2018-09-25 13:11] mehak126 commented on #14
+1
Sir,
As there was no hard deadline earlier, one day seems to be too short of a notice for submission. And we have a mid-term exam as well tomorrow so it will be difficult to complete the assignment by tomorrow.

[2018-09-25 16:19] raghavsi commented on #14
The word2vec + tsne was due last week on Friday. As there was no class we agreed for tomorrow. Im2vec is simple.  Can be done in a day. No extension 
Thanks

Sent from Yahoo Mail for iPhone

On Tuesday, September 25, 2018, 6:51 PM, Navreet Kaur <notifications@github.com> wrote:

Sir,
This is to bring to your kind notice that we have a mid-term exam due tomorrow evening (COL761 - Data Mining), and

[2018-09-25 16:32] ankursharma-iitd commented on #14
Sir,
A just one-day extension will do for us. Please try to understand that we have already been occupied with some course at this point, and will at least a day to work over this assignment. Please allow us to submit this by Thursday. That will be very grateful.

[2018-09-25 20:27] utkarsh1097 commented on #14
One doubt: As we discussed in class, not all metadata have the 'Colour' attribute info available (because it wasn't there on the website as well when it was scraped). We discussed that we can get the colour information from the product title, but I think we also discussed that for this assignment (Wednesday submission), we only have to look for the colour info corresponding to 'Colour' attribute.

[2018-09-26 03:18] raghavsi opened #15 "Class will be delayed to 2:30 today"
Assignment 3 -- word2vec+TSNE due before class today.

[2018-09-26 04:33] lovishmadaan commented on #15
Sir, few of us have Data Mining midterm today from 5-7 and moreover, the assignment statement was posted yesterday. It it a sincere request to postpone the deadline to today midnight.

[2018-09-26 04:35] mehak126 commented on #15
+1

[2018-09-26 04:36] ankursharma-iitd commented on #15
Please extend the deadline till midnight since we are already occupied with this exam.

[2018-09-26 04:46] navreeetkaur commented on #15
+1

[2018-09-26 05:00] raghavsi commented on #15
Folks we have gone over this. The deadline was supposed to be last week. Because of holiday its today.
You cant leave everything to last minute!!!
For submissions by midnight today we will be deducting 25% marks upfront. Submissions before class will not have any deduction and submission after midnight will have 100% deduction.
Thanks

[2018-09-26 07:59] raghavsi opened #16 "class on time at 2pm"
please ignore previous message -- i got free earlier.

thanks

[2018-09-26 09:28] anshumitts commented on #13
@vineetm  can we use a different constituency parser? as I cannot setup puck on HPC.

[2018-09-26 09:35] vineetm commented on #13
@Maxaravind @VinayKyatham can you please look into this and see why @anshumitts cannot setup this on HPC. Here is the link https://github.com/dlwh/puck

[2018-09-26 11:05] Maxaravind commented on #13
@anshumitts Can you tell me what is the exact problem that you are facing?

[2018-09-26 11:29] prateek27 commented on #14
@raghavsi  @vineetm  Can you elaborate more on Image2Vec model ? I couldn't attend the classes last week, so I little confused about this.

[2018-09-26 12:06] Maxaravind commented on #13
Is this the full trace?

[2018-09-26 12:08] Maxaravind commented on #13
@anshumitts While running jobs on hpc please 'cd' into the working directory in your qsub script, otherwise relative names won't work. Looking at the trace, it seems to be a problem with your Current Working Directory not being set properly

[2018-09-26 20:47] abhudev opened #17 "Vocabulary for English and German"
It is specified that vocabulary should be 30,000 most frequent words from the data, but for En-De translation, we will need different vocabularies. So should we keep the same number of words in German vocabulary as well? Also, am I correct in assuming the construction of vocabularies:

Source vocab: By combining all English data from all three datasets
Target vocab for NMT in German: From German d

[2018-09-27 04:31] vineetm commented on #17
@abhudev Thanks for your question. Yes, for any parameters not explicitly specified in the [Project description](https://github.com/vineetm/ell-881-2018-deep-learning/blob/master/project1/project1.md), use the parameters specified in the paper. There is a nice summary available int the [paper github](https://github.com/Maluuba/gensen/blob/master/example_config.json)

So yes, the target vocab is 30

[2018-09-27 05:37] raghavsi commented on #14
I could not coveer it yesterday.
It will be covered tomorrow
Deadline for that part is now Sunday, 27/9, 11:59 PM.

[2018-09-27 06:16] ankursharma-iitd commented on #14
Sir, Is the deadline 27th September (today) or 30th September (Sunday)?

[2018-09-27 06:17] AdityaGupta-IITD commented on #14
It's the 30th of September (Sunday).

[2018-09-27 07:04] abhudev commented on #17
@vineetm Thank you for the clarification Sir!

[2018-09-27 14:33] abhudev commented on #17
Also, to clarify, should the total size of the vocabulary be 30,000, including the UNK and PAD tokens, or only counting the words got from the training data?

[2018-09-27 14:53] vineetm commented on #17
Yes, a total of 30K including UNK and pad tokens.

[2018-09-28 08:35] anshumitts commented on #17
@vineetm Why should we include PAD tokens in the vocabulary, isn't it just embeddings of padding zeros?

[2018-09-28 09:00] vineetm commented on #17
@anshumitts We discussed this in class. You would feed a vector for each word in your input/output. When you batch words you **PAD** the short sentences. You would still require to index the PAD token to get a token index.

Zero embedding business will come into play, when you explicitly set the row corresponding to PAD token as zero. But you will still need the PAD token in your vocabulary.

Let

[2018-09-28 12:36] vineetm opened #18 "Project 1 Reminder"
This is a reminder that the Project is due by 12 Oct, 1PM.

Please do not leave this to the last minute. There will be no extensions.

I expect by now you would have atleast completed 2/3 Training Tasks, and would have started thinking/working on the third training task.

Please look carefully at the [deliverables](https://github.com/vineetm/ell-881-2018-deep-learning/blob/master/project1/project1

[2018-09-29 14:05] raghavsi opened #19 "CNN lecture and notebook"
Apologies for delay.
Notebook and lecture uploaded.

Deadline of assignment - im2vec and  tsne on peperfry data - extended: 01 Oct 12:00 PM.

Thanks

bvlc.npy available at

https://drive.google.com/open?id=1n4Azibd7ndTAWEMHDjckD-_EnsVvzAxE

[2018-09-29 17:30] abhudev commented on #13
@anshumitts @Maxaravind Any updates on how to make this work? Even I could not make it work

[2018-09-29 17:53] vineetm commented on #13
@Maxaravind  @VinayKyatham can you please look into this? @anshumitts @abhudev I would suggest you try first by running the parser on some sample sentences say 100 (do some kind of hello world equivalent).

[2018-09-29 17:58] abhudev commented on #13
@vineetm I think the issue is that of the correct libraries etc being in place e.g. the error logs mention OpenCL, which is not there in the list of HPC modules. Also, if we were to do this on our machines, I doubt it would run (or run fast, as many of us don't have GPU's).

[2018-09-29 18:01] vineetm commented on #13
@abhudev Can you try running this on your local system? Slow is better than nothing :) Let me know if you can run it locally. Meanwhile @Maxaravind  @VinayKyatham will help us debug what is missing on HPC.

[2018-09-29 18:02] abhudev commented on #13
@vineetm Yes, I will see if I can get it to work on my PC.

[2018-09-29 22:17] Maxaravind commented on #13
@abhudev @anshumitts  Please make sure that you are able to run your code on your local machine before you run it on hpc(and make a list of dependencies that you might require). Hpc provides a very restricted environment and it would be good to make sure that your code is not working just because of the hpc environment. Please do let us know whether you are able to get it working on your PC.

[2018-09-30 05:37] vineetm commented on #13
@Maxaravind  @VinayKyatham It would be better if you can also try to run the parser on (1) HPC (2) your local system so you can help students get this up and running. Please let me know when you are able to do so. I would suggest you try with a small set of sentences to check if it works.. Thanks!

[2018-09-30 06:12] vineetm opened #20 "Project 1: Constituency Parsing"
I see that some students are having trouble running the PUCK parser. Given the approaching deadline for project, I can suggest some alternatives. Please mention in your project clearly which parser you used:

1. [Berkley Parser](https://github.com/slavpetrov/berkeleyparser)
2. [Stanford Parser](https://nlp.stanford.edu/software/srparser.html)

You are free to use any other constituency parser too.

[2018-09-30 06:15] vineetm commented on #13
@abhudev @anshumitts While @Maxaravind  @VinayKyatham help us debug PUCK. You can look at some alternatives for constituency parsing. Given the short time left for deadline, I would not want you to put in more time in figuring out how the software works. Have a look at Issue #20

[2018-09-30 10:18] abhudev commented on #13
Yes Sir, I will try the other two parsers if they are working OK

[2018-10-01 06:01] raghavsi opened #21 "Today's class"
Some part of the class will be a lab. where each of you will use your pepperfry data (images) to finetune the alexnet that we have been covering in class.

Please prepare to come with laptops and be ready to work on this in class.

thanks

[2018-10-01 10:14] anshumitts opened #22 "No gradients provided for any variable, check your graph for ops that do not support gradients, between variables"
[code]

[2018-10-02 15:50] utkarsh1097 opened #23 "Doubt regarding CNNs"
In CNNs, for a particular convolution layer we have multiple filters. From what I understand, these filters are what learns the various 'aspects' or 'templates' in the images that helps make better classification.

Since these filters (in one layer) all look at the same input volume, how are we ensuring that each filter learns different aspects of the images? Or is that not how it works?

If this

[2018-10-03 05:32] vineetm commented on #22
@anshumitts Sorry for replying late. A few questions:

1. Where are you computing gradients in this function? Isn't that what the system is complaining about?
2. Are you intentionally using **non-eager** mode?

[2018-10-03 10:14] anshumitts commented on #22
@vineetm  Yes, This is intentional. As this was the class work.
I don't know how else were we supposed to do this.

[2018-10-03 19:08] abhudev opened #24 "Conditional GRU described in paper"
How do we implement the conditional GRU described in the paper, in which the encoder state is used to condition the output at each decoding step? It has a very specific mathematical formulation, and I cannot figure out how to implement this using the RNN modules of TensorFlow.

![capture16](https://user-images.githubusercontent.com/19759585/46433143-b7929600-c76d-11e8-837b-95763e12ad15.PNG)

[2018-10-05 05:10] vineetm commented on #24
@abhudev As mentioned in the project description you can use only GRUCell as already available in Tensorflow. Specify clearly in your project what RNNCell you are using. Hope this helps.

[2018-10-05 16:46] abhudev commented on #24
@vineetm Sir, I meant that there is no mechanism in the GRUCell (or other cells) of Tensorflow to implement the conditional GRU as given in the paper, as the interface to the cell only allows us to specify state and word embedding input at each step.

[2018-10-05 16:56] vineetm commented on #24
@abhudev Don't worry much about conditional GRU. You can do your experiments and report results on standard GRU (as available in Tensorflow). Does this help?

[2018-10-05 16:57] abhudev commented on #24
Yes Sir, thank you for the clarification!

[2018-10-07 11:54] prateek27 opened #25 "Project #1 Doubt : NLI Loss Fn"
![model_nli](https://user-images.githubusercontent.com/5269147/46581384-57de0880-ca55-11e8-837e-68d20b9751cd.png)

I am creating a model as above what I understood from the paper, I am feeding batch of padded sentences of H and P to the model but confused about how to handle loss.

The RNN notebook done in class says we have to make loss due to padded words as 0 by using a mask.
How do we implemen

[2018-10-07 13:44] abhudev commented on #25
No need to pad for loss here, as the input to the MLP is a fixed length vector representation got by combining the output of encoder outputs for premise and hypothesis sentences.

[2018-10-07 17:07] anshumitts opened #26 "What is meant by repeat for Task2"
Do we have to use word embeddings and encoder RNN from checkpoint of task1?

[2018-10-08 04:53] prateek27 opened #27 "Project #1 Doubt : Loss becoming constant"
I trained my Model for NLI task. After few epochs loss is becoming constant. I tried to run it on smaller dataset, the loss was decreasing constant but on larger dataset it first increased and then became constant. What does this mean ? In my MLP I am using one hidden layer with 256 units, followed by output layer and the following  -
'tf.reduce_mean( tf.nn.softmax_cross_entropy_with_logits_v2(log

[2018-10-08 11:57] vineetm commented on #26
@anshumitts Yes. You are sharing encoder RNN across all three training tasks.

[2018-10-08 12:02] vineetm commented on #27
@prateek27 Not sure if you resolved this. There can be many reasons for this to happen. I am assuming `Train_Loss` here is for the batch executed last, or is it for the entire dataset? Further some quick checks, `predicted_y` is un-normalized logits right and not a probability distribution?

[2018-10-08 12:09] prateek27 commented on #27
@vineetm My issue is now resolved. Earlier I was computing train loss over entire dataset, but as mentioned in assignment now I am computing now loss over each in batch in just 1 epoch. I channged these two things -
1) Taking in account sentence lengths (that was a major problem)
2) Increased buffer size for shuffling

Now the results appear something -
INFO:tensorflow:Mon Oct  8 12:01:27 2018: Ep

[2018-10-08 13:42] pushpendradahiya opened #28 "Project#1: For tasks NLI and NMT"
For sequence encoding tasks like NLI and NMT, the encoder gives vector representation for sentence. My doubt is that, are we supposed to use pre-trained embeddings of words to get these sentence embeddings or not. If not, then is it possible to learning words embeddings from sequence task like NLI?
Even the paper github repo shows that they have use 300 dim GloVe vectors for NLI task.

[2018-10-08 15:44] prateek27 commented on #26
@vineetm Sharing RNN means the weights will be trained on task1,  then those weights will be fed to task 2 (say NMT), then those weights will be adjusted again during NMT training and so for task 3. This is what I am assuming.

[2018-10-08 15:46] prateek27 commented on #28
I think you can't use pre-trained word embedding, those will get automatically trained. In assignment Embedding Size is mentioned as 256 but Glove Vectors have 300Dim. So you can't use that as well.

[2018-10-08 15:52] vineetm commented on #28
@pushpendradahiya, @prateek27 is right. Word embeddings will get automatically trained as part of the Training Tasks. They should be initialized randomly, as discussed in lectures.

[2018-10-08 15:53] vineetm commented on #26
@prateek27 Yes! That is exactly right.

[2018-10-08 16:46] anshumitts opened #29 "Contituency Parse Tree Dataset"
@vineetm
Hi, Can you please provide us with the Constituency parse tree dataset? as on HPC it is running for almost 3 days and still it is not complete. Kindly help as the project dead line is near.

[2018-10-08 16:54] vineetm commented on #29
@anshumitts How much of the data have you parsed till now?

[2018-10-08 16:55] anshumitts commented on #29
100 MB

[2018-10-08 16:56] vineetm commented on #29
@anshumitts How many lines is that? It should be OK if you work with what you have parsed. Please mention it when you submit the project.

[2018-10-08 17:13] anshumitts commented on #29
thank you

[2018-10-09 04:50] anshumitts opened #30 "Evaluation datasets"
Can you please point me towards the standard datasets being used in 10.1, 10.2, 10.3 and 10.4.

[2018-10-09 10:47] vineetm commented on #30
@anshumitts You would need to see the corresponding datasets as listed on [paper github repo](https://github.com/Maluuba/gensen). You will find that this in turn points to [SentEval toolkit](https://github.com/facebookresearch/SentEval)

[2018-10-09 10:48] vineetm commented on #29
@anshumitts Please do share the location of dependency parser dataset on HPC. Anyone using this dataset should explicitly declare that they used this dataset before submitting the project.

[2018-10-09 13:57] anshumitts commented on #30
@vineetm This uses pytorch, are we supposed to write codes for evaluation tasks as well?

[2018-10-09 14:08] vineetm commented on #30
@anshumitts I don't expect you to write code for evaluation tasks. See this example on SentEval repo page. It shows how tensorflow code can be called.. https://github.com/facebookresearch/SentEval/blob/master/examples/googleuse.py

[2018-10-09 15:05] anshumitts commented on #30
@vineetm http://ixa2.si.ehu.es/stswiki/index.php/STSbenchmark none of the links are working here please help

[2018-10-09 15:55] anshumitts commented on #30
@vineetm TREC data is also not available on the give site.

[2018-10-09 15:57] abhudev commented on #29
@anshumitts  Please share the weakly labeled parses that you generated on HPC, as I could not set up the parser on HPC.

[2018-10-09 15:58] vineetm commented on #30
@anshumitts Given the short time to go before the deadline, I would advise you to work with data that is available. You can skip the data you are not able to access

[2018-10-09 17:43] anshumitts commented on #30
@vineetm It's not clear whether we should use encoder RNN to create sentence embeddings or Bag of words. Can you please suggest me the same?

[2018-10-09 17:48] vineetm commented on #30
@anshumitts You should use encoder RNN to create sentence embeddings. If you have time, compare the results with bag of words (Optional).

[2018-10-09 17:58] anshumitts opened #31 "Hi! I have processed snli dataset for the purpose of the project"
[Uploading tree.zip…](Parse Tree dataset)

[2018-10-09 18:12] anshumitts commented on #30
@vineetm This is causing an issue Tensorflow in eager mode is conflicting with pytorch causing.
`buss error`
Please suggest a solution

[2018-10-09 18:16] vineetm commented on #30
@anshumitts I can suggest you an alternate solution. You can pre-compute the sentence vectors for the evaluation tasks, and store them in a numpy array or equivalent. When working with pytorch you can use this numpy array... This might work as you don't really care about Tensorflow model, you only care about the sentence vectors.

[2018-10-10 07:12] vineetm opened #32 "Project 1 Reminder: 48 hours to go!"
Hi,

This is a reminder that you have about 48 hours to submit Project1. Please look at the relevant issues, in case you are stuck. You can filter issues with label `Project1`. Good luck!

[2018-10-11 06:30] abhudev opened #33 "GPU OOM error while allocating logits for a batch in NMT"
In NMT, the TensorFlow is showing out of memory error while trying to allocate logits for a batch. Output (german) vocab size is 30000 so the logits look like [batch_size, sentence_length, 30000]. In my case, size of [32,92,30000] takes up 331 MB. Funny thing is, Usage is only 8.6 GB whereas about 11 GB are still available. However, I am concerned that even with 11 GB memory usage may grow eventua

[2018-10-11 06:44] prateek27 commented on #33
Faced similar issue, some batches have quite large sentence_length, which gives OOM, try reducing batch size.
If it still doesn't work, skip the batches with sentence_length > some_threshold_length.

[2018-10-11 06:49] abhudev commented on #33
OK thank you, is 92 sentence length too long? Also, could you figure out if this error is due to memory leakage, and we can somehow handle it? Batch size is 32 (as mentioned in project desctiption) plus reducing it will give even slower training than is now happening. I will try both the techniques you mentioned.

[2018-10-11 07:56] prateek27 opened #34 "Project #1 : Dropouts"
Which layers should should have dropouts ?
- Encoder RNN
- Decoder RNN
- Dense MLP Layer
- All ?

[2018-10-11 08:06] abhudev commented on #34
Dense MLP layer should have dropout. In Vineet Sir's notebook, in RNN he has used dropout in the word embeddings and the output FC layer, so you can see the notebook to understand how he has done it.

[2018-10-11 08:09] abhudev commented on #33
I saved the model checkpoint after NLI, and restored it before starting again for NMT (new run of program), but it still gives OOM error after a few 100 batches. I have reduced batch size to 20 and max sentence length to 45, still it is giving error. @vineetm Sir I have also tried other tricks as mentioned online such as making variables None before returning from functions, but nothing seems to w

[2018-10-11 08:29] vineetm commented on #33
@abhudev What are the sizes of the first two dimensions of OOM failure? One could reduce precision. I think default if `tf.float64`, this could be made to `tf.float32`. That should reduce space requirements by half.

[2018-10-11 08:30] abhudev commented on #33
Yes Sir, that is a very good suggestion, I will try it out. The first two sizes were, [32, 92, 30000] and [20, 126, 30000] in two separate cases.

[2018-10-11 08:31] vineetm commented on #34
@prateek27 There is no single correct method to apply dropout. I would recommend suggestion by @abhudev

[2018-10-11 08:35] vineetm commented on #33
@abhudev So clearly 92 and 126 in second dimensions is a problem. I would recommend to restrict `max_words` to 50 or 45 (whatver can fit in the memory). This can be done easily in your dataset pipelinine after you get words from a sentence by doing something as `words[:MAX_LEN]` inside map function. See Line 151 here for an example: https://github.com/tensorflow/nmt/blob/master/nmt/utils/iterator_

[2018-10-11 08:40] abhudev commented on #33
Thank you very much Sir!

[2018-10-11 15:39] anshumitts opened #35 "Evaluation Scripts"
@vineetm @raghavsi Manky people have asked me for the evaluation script which I have modified to run both on Tensorflow and pytorch. Should I make it public?

[2018-10-11 15:52] vineetm commented on #35
@anshumitts Thanks for checking with us. Yes, it would be OK to make it public.
I expect anyone using the **modified** script to know what is happening in the script, and why modifications were required.

[2018-10-11 16:04] vineetm opened #36 "Project 1 Submission Guidelines"
Some guidelines to submit Project 1:
1. This is an individual project, and it is expected that the work is your own. Please state clearly if you have copied/borrowed code from any of your classmate.
2. If you have worked with a subset of dataset or used a pre-processed version created by your classmate, please mention/cite it.
3. Cite any open source code you used for your project.

The above shou

[2018-10-11 16:17] anshumitts commented on #35
https://owncloud.iitd.ac.in/owncloud/index.php/s/Cqmjb5RCeXHT66Y

[2018-10-12 05:52] vineetm opened #37 "Blog on Neural NLP"
Since past few weeks you have been working on your Project dealing with neural models for NLP. I think this might be a good read: http://blog.aylien.com/a-review-of-the-recent-history-of-natural-language-processing/

[2018-10-12 07:49] vineetm opened #38 "Project 1: Late Submission Policy"
Hi,

We have decided to add a late submission policy for Project 1:

1. For each subsequent delay of 24 hours, you will be penalized 10%
2. Thus, if you submit your project between 1:01 pm on Oct 12 and 1:00 pm on Oct 13, you will be penalized 10%. If you submit by 1:00 pm on Oct 14, 20% and so on...
3. Only your final submission would be considered, so please submit accordingly.

[2018-10-12 07:56] anshumitts opened #39 "HPC job stuck"
@vineetm My job for sentence eval has been stuck for a while. Please consider a delay of 1 hr. I am doing a comprehensive comparison for NLI.CPT,NMT with bag of words(both with and without dropouts) making is overall 12 comparisions and each one is taking half an hour. Moreover this is a delay from HPC side not mine.

[2018-10-12 07:58] vineetm commented on #39
@anshumitts Please mention this in your email to TAs when you submit the project.

[2018-10-12 12:49] raghavsi opened #40 "Project 2"
https://openreview.net/forum?id=HyzbhfWRW

1) Implement on AlexNet architecture (IN EAGER MODE)
attention on Conv4, Conv5 layers (Figure 2 of paper)

2) Report Table 1 and Table 2 results (Note that baseline ALexnet results will also have to be collated)

3) Script that visualizes the attention map like in Fig. 3/4

4) Weakly supervised semantic segmentation -- Fig 9 of paper

Due Date Nov4 11:59

[2018-10-12 15:07] ankursharma-iitd commented on #38
Sir, As per our discussion with @raghavsi taking into account our job applications and tests this semester, he agreed for a total 5% or 10% penalty for a week late submission. This would really give us the time in the mid-sem break to work for this project which otherwise was not possible due to the various coding tests organized by companies on account of placements.
It's the most sincere request

[2018-10-12 15:12] navreeetkaur commented on #38
+1
I agree with @ankursharma-iitd
Some of us are also not able to set up HPC. Given the time it is taking to train the model, such a late submission policy seems too harsh. Kindly adhere to the policy discussed by @raghavsi sir in class last Wednesday.
Thank you for consideration.

[2018-10-12 15:29] mehak126 commented on #38
+1
Sir, given that we are not being allowed to audit the course, please don't keep such a harsh late submission penalty. We really want to complete the project but need more time. It is a sincere request to allow us to audit the course as we do not wish to compromise our grades at this stage

[2018-10-12 15:30] vineetm commented on #38
@ankursharma-iitd @navreeetkaur @mehak126 Thank you for raising your concerns. Here is a short reply for now: Please do the best you can.

I will send a detailed reply tomorrow morning after discussing with @raghavsi.

[2018-10-13 04:21] raghavsi commented on #38
Hi
Its vineet prerogative to set his grading policy. I did talk to him and we agreed that we need a more aggressive to reward people who had completed this on time.
You had four weeks to do it. You have an extension (of some sorts).
My problem with all this is that its not that you are submitting and then asking for some grace. I am not sure how many of you have completed or even started.
As Vinee

[2018-10-13 04:49] vineetm commented on #38
I do hope that all of you have made some submission of work you could complete by Oct 12, 1 pm.

Any student **seeking extension** should send me an email (vineeku6 at in ibm com) latest by 6 pm today with the following:
1. Code written so far
2. A 5-6 line description of what you have done so far.
3. A 2 line description of your action plan to complete the project, along with your estimate of how

[2018-10-15 12:43] navreeetkaur commented on #35
@anshumitts Can you please share the evaluation scripts with us?
Thanks

[2018-10-15 16:29] abhudev opened #41 "Grouped convolutions in Alexnet"
Should we implement grouped convolutions in Alexnet baseline and attention model, or only use straightforward conv layers? If using groups, how many groups should we use?
Also, should we consider using separable filters or any such thing? Or only implement basic Alexnet architecture (+ attention)?

[2018-10-15 19:04] abhudev opened #42 "Fine-grained recognition?"
What exactly is the task of 'fine-grained recognition' in Table 2 of the paper (project 2)? Is it object localization/detection? In the CUB birds dataset, they also have lot of attributes, and locations of parts like beaks, feet etc per image - should we consider these also? Or only object detection/localization?

[2018-10-15 23:56] raghavsi commented on #42
http://cnnlocalization.csail.mit.edu/Zhou_Learning_Deep_Features_CVPR_2016_paper.pdf
has more details.
please follow their methodology -- its object detction and localization for CUB in this case..

[2018-10-15 23:57] raghavsi commented on #41
Basic Alexnet without grouping.

[2018-10-16 13:13] abhudev commented on #42
Thank you sir! Is the task the same in SVHN dataset? Because here there are multiple digits that need to be localized in each image, which is different from CUB, where there is only one object to be localized. Since both CUB and SVHN are in the same table, I thought the two tasks should be the same.
Also, how do we combine the attention output of conv4 and conv5? The paper describes 2-3 ways - con

[2018-10-16 18:19] abhudev commented on #42
Dear Sir, I have read the Section A.1 "Datasets", in which the authors say that "For CUB-200-2011, the images are cropped using ground-truth bounding box annotations and resized". So this means that they are in fact doing image recognition, and not object detection/localization. It is still not clear in the paper what they do for SVHN, but since SVHN also has a part in which there are cropped imag

[2018-10-16 20:37] anshumitts commented on #35
@navreeetkaur @ankursharma-iitd I am sorry you are facing this but I was forced to remove the link when it came into my light that people are updating their code on the basis of my code yet not citing my name.

[2018-10-16 20:50] vineetm commented on #35
@anshumitts Thanks for brining this to my attention. Please do email me the details about this. We do have a strict policy about copying code without citation.

[2018-10-17 01:18] raghavsi commented on #42
Their comparision is with VGG-GAP which is a method to do classification and resultant localization. These are attention mechanisms so I assume that they will do classification and localization...

[2018-10-19 15:13] anshumitts commented on #42
@raghavsi can you please specify what are they actually doing in table 2? is it image localization or recognition. From the description in the paper, it seems it is image recognition only. Can you provide us datasets on intranet say hpc? as we have download limits.

[2018-10-19 15:49] abhudev commented on #42
Yes, even in the cited papers the tables from which the numbers have been taken are for recognition only.

[2018-10-20 11:04] raghavsi commented on #42
Lets do recognition.
I have asked TAs to download data and make it available.

[2018-10-20 11:14] abhudev commented on #42
Thank you Sir!

[2018-10-22 17:02] anshumitts opened #43 "How to apply attention?"
Can someone please give a useful resource on how to evaluate attention on conv4 and conv5 as in paper it is not clear how vector of size 512 was multiplied by image maps of 256*(height)*(width).
If Possible kindly give the detailed equation.

[2018-10-24 06:46] raghavsi commented on #43
Here is my understanding -- correct me if I am wrong
l_i^s is a *vector* of output activation at spatial location i (raster scanned) of convolution layer s
Put this under a linear transformation to convert to dimensionality of g (512?) -- \hat{l}_i^s
define compatibility : func(\hat{l}_i^s, g)
estimate a_i^s using eqn (1)
and g_a^s = \sum_i=1^n (a_i^s, l_i^s)

So for s =1 there are 128 filters (?)

[2018-10-25 04:55] varunsood189 opened #44 "Extend the deadline"
Respected Sir,

It's a sincere request to extend the deadline until after the Diwali break. Because we have a placement session in progress. It's taking all the time. That is why we are not able to concentrate on project 2.
I also request all the students who are facing the same issue to comment under this issue to confirm my claim.

Regards,
Varun

[2018-10-25 05:21] VDnarendra commented on #44
Yes sir, please consider extending the deadline. We have placement tests these days. But we are free from these tests in Diwali break. We can keep most of the time on project2 in those holidays.

[2018-10-25 05:34] pushpendradahiya commented on #44
+1
Also, there are issues related to HPC quota. submission after the holidays will be good for both the cases.

[2018-10-25 05:52] hareesh00 commented on #44
+1

On Thu 25 Oct, 2018, 10:51 AM VDnarendra, <notifications@github.com> wrote:

[2018-10-25 05:55] sakshi18agrawal1 commented on #44
+1
It is difficult to manage both the things simultaneously.

[2018-10-25 06:59] mehak126 commented on #42
Has the dataset been made available?

[2018-10-25 07:12] anshumitts commented on #43
Thank you sir.

[2018-10-25 14:56] anshumitts commented on #44
+1

[2018-10-25 15:07] utkarsh1097 commented on #44
+1

[2018-10-25 17:54] ishank1995 commented on #44
+1

[2018-10-26 08:57] varunsood189 commented on #44
11/11/18 until next Sunday of the present deadline.

[2018-10-27 08:22] mehak126 opened #45 "CIFAR-10 dataset images"
Please correct me if I'm wrong, but don't the dimensions of the input images to alexnet have to be 256X256? The CIFAR-10 images have a size 32X32. If we resize them to 256X256, will there be too much distortion?

[2018-10-27 10:19] anshumitts commented on #45
That's why we have interpolation techniques

[2018-10-27 15:42] prateek27 commented on #43
Sir can you elaborate how to do linear transformation ? What should be the matrix to convert l_i^s into 512 dimensional vector ?

[2018-10-29 08:08] abhudev commented on #40
Sir, could you please clarify whether attention is on conv3 or conv4?

[2018-10-29 11:02] raghavsi commented on #44
Please submit current work -- code, whatever results you have (in plots/table) on 11 Nov night.
You can submit a final report on 17 Nov night and be evaluated on that.

[2018-10-29 11:10] raghavsi commented on #43
Hmm.. Should this not be just a layer, fc? with no non-linear activation?

[2018-10-29 11:11] raghavsi commented on #45
Yes I am also surprised that they upscale 32x32...but Vgg is 256x256

[2018-10-31 06:05] vineetm opened #46 "Updated calendar"
Please have a look at the updated class calendar. We have put tentative dates for Project viva.

[2018-10-31 11:58] vineetm opened #47 "Project 1 In-Class Evaluation"
Hi,

Some things to keep in mind for project evaluation

1. Make sure you have all the deliverables ready on your (charged) laptop.
2. You should be able to demonstrate loading your trained model from saved checkpoint for the training tasks..
3. You should be able to explain the code you submitted for the project

[2018-11-02 05:35] vineetm commented on #47
@ankursharma-iitd @navreeetkaur @mehak126 @hareesh00 Please do look at your emails and be present in the class today for the assigned slots. Thanks!

Rest of the students will have their evaluation later (after major). TBA.

[2018-11-05 04:37] mehak126 opened #48 "Attention map visualisation"
Are attention maps the same as class activation maps in CNNs? I'm having a little trouble trying to understand how the attention weights are used to represent the maps. Could someone send some links to understand the same if possible?

[2018-11-05 19:09] abhudev commented on #48
Attention weights are 2D weights, so they form an image, which you can overlay on the original image to see which objects are the "center of attention" for the CNN. It is similar to class activation maps.

[2018-11-06 06:19] mehak126 commented on #48
Got it, thanks! :)

[2018-11-09 21:59] ankursharma-iitd opened #49 "Compatibility score"
The other compatibility measure used in the paper involves taking the dot product of a vector **u** with the addition of **L_i** and **G**. I'm assuming that the weights of this vector **u** have to be learned during the training process. How can we implement this in our project? Can we simply map the addition result (L_i + G) to a scalar by passing it from perceptron (without non-linearity)?

[2018-11-10 00:50] ankursharma-iitd commented on #42
Where are the datasets?

[2018-11-10 10:33] sakshi18agrawal1 commented on #49
We can use the second method mentioned in the paper. Compatibility score can be calculated directly by changing the dimensionality of L_i to that of G and then taking dot product of L_i and G.

[2018-11-10 10:38] VDnarendra commented on #49
I also did in the same way.

[2018-11-10 10:38] ankursharma-iitd commented on #49
Actually, we have to use both the methods for replicating the tables 1 and 2. (dp and cp) Anyway, adding a single-neuron layer works in my case for the cp part.

[2018-11-12 18:42] prateek27 opened #50 "Project 2 Issue : Getting Sparse Attention Wts"
I am implementing attention in the following manner, but get sparse attention wts. Only 1-2 elements in the activation vector are non-zero. Anyone facing similar issue or can help me figure out the problem in my approach? Thanks!
PS - I am reducing the dimensionality of global vector g to match with L (384 or 256).

![attention](https://user-images.githubusercontent.com/5269147/48368005-7c727380-e

[2018-11-13 05:08] raghavsi commented on #50
What are the nonlinearity on g/l?

[2018-11-13 06:14] prateek27 commented on #50
ReLu
Alexnet without attention working pretty well.

[2018-11-14 04:59] raghavsi commented on #50
The layer before B when you convert Conv4 to FC, what is the activation there?
B you have softmax right?

[2018-11-16 12:02] mehak126 opened #51 "Saving and loading model"
Is anyone having trouble in saving and loading their model? I've tried tfe.Checkpoint as well as tf.save_weights  but each time I load weights in a new model object, the list is empty. Could someone tell me how they're saving it?

[2018-11-16 12:04] abhudev commented on #51
Which list is empty?
I have not tried anything new yet, I am doing it the way it was done in Vineet Sir's notebook using Checkpoint. I have noticed that on loading, the variables list is empty. However, the model is able to predict  OK on loading. I do not know what this means.

[2018-11-16 12:06] mehak126 commented on #51
The model.weights list is empty. I tried checking the predictions and they were different on the original and the loaded model

[2018-11-16 12:09] abhudev commented on #51
Ok I have not diagnosed this entirely, I will have to check it. Were the new predictions random or correct most of the time?

[2018-11-16 12:30] mehak126 commented on #51
I didn't check the correctness, just compared a few predictions. Was the variables list empty when you saved the RNN model in the previous assignment as well? I didn't check that time.

[2018-11-16 13:23] abhudev commented on #51
Even I didn't check back then, I only realized it now.

[2018-11-18 04:48] anshumitts commented on #51
Did you check by appending '.h5' at the end of model e.g model.save_weights('allexnet.h5'). This is a known issue with tensorflow.

[2018-11-19 00:24] raghavsi opened #52 "Project 2"
Deadline was on 17th Nov midnight. I hope everyone has submitted.

We  will evaluate 26-28 Nov, will post date and time.

thanks!

[2018-11-19 04:21] abhudev commented on #52
Dear Sir,

I have submitted the project on 18 Nov, as I somehow had the idea that the deadline was 18th night, not 17th night. I had completed the project the day before, and had a fully working version ready before that too. I am very sorry for the delay, and I hope you will please consider my submission.

Abhishek Pathak

[2018-11-19 07:52] anshumitts commented on #52
@raghavsi We were told deadline was 18th Nov.

[2018-11-21 14:19] pushpendradahiya opened #53 "Major Exam Syllabus"
@vineetm Sir,
What will be the syllabus for the major exam?
@raghavsi sir has given some pointers for CNN part.

[2018-11-21 14:34] vineetm commented on #53
@pushpendradahiya Thank you for asking this. Syllabus for major exam would be exactly what was covered in the class. You are not expected to memorize or reproduce Tensorflow code/API. I will reiterate it here:

1. Linear Algebra: as covered in the class
2. Deep feedforward networks: understanding what is MLP, why non-linear layers help and  draw computational graphs as discussed in the class.
3. N

[2018-11-21 21:40] pushpendradahiya commented on #53
Also,
Can the exam be open book, i.e. open laptop(without internet).
This technique is followed by many courses in IITD so that students don't have to mug up everything and importance is to understanding underlying concepts.

[2018-11-22 04:52] vineetm commented on #53
No, the exam is not open book/laptop.

This course does not expect/require you to mug up anything.

[2018-11-22 12:06] pushpendradahiya commented on #53
Sure sir, thank you.

[2018-11-22 13:10] ankursharma-iitd opened #54 "Audit Criteria"
Sir, Can you please post the audit criteria of the course?

[2018-11-24 13:20] mehak126 commented on #54
+1

[2018-11-26 05:56] raghavsi commented on #54
as discussed in class and as suggested by Prof Sumantra:

"As I had written, a minimum equivalent grade of a B(-) or C, with
an additional attendance (min 75%) and project-related criterion.
https://urldefense.proofpoint.com/v2/url?u=http-3A__www.iitd.ac.in_sites_default_files_semsch_WCoS-5F2015-2D16.pdf&d=DwIFaQ&c=jf_iaSHvJObTbx-siA1ZOg&r=hsr9C_gfLt5Bhdykettu-4-TQvizBfhaaxzetcVcEGA&m=o_vXYOAMLmyy

[2018-11-26 06:14] mehak126 commented on #52
Are there time slots allotted for the demos?

[2020-12-04 09:39] #44 closed